@import 'variable';

.header{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15d0ff;
  div{
max-width: 92%;
  width: 1120px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  padding-top: 48px;
  time{
   font-size: 16px;
   margin: 24px 0 0 0;
  }
  h1{
margin: 20px 0 0 0;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.04em;
font-weight: 600;
  }
  }
}
.content{
  max-width: 92%;
  width: 1120px;
  margin: 40px auto;
  min-height: 45vh;
  .link{
    width: 100%;
    max-width: 100%;
    margin: 12px 0 0 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
  }
  .top{
    text-align: center;
    margin: 8px auto 0 auto;
  }
  *{
      line-height: 190%;
      letter-spacing: 0.2px;
    }
    h1, h2, h3{
      font-weight: bold;
    }

    h1{
margin-bottom: 12px;
      font-size: 28px;
    }

    h2{
      margin-bottom: 12px;
      font-size: 24px;
    }

    h3{
      margin-bottom: 6px;
      font-size: 20px;
    }

    p{
      margin-bottom: 20px;
            font-size: 18px;
    }

    *, img{
      max-width: 100%;
    }

    a{
      text-decoration: underline;
    }
     .sns{
    display: flex;
    margin: 60px auto 0 auto;
    justify-content: center;
    align-items: center;
    *{
      margin: 0 2px;
    }
  }
}


@include mq(md) {
  .content {
    width: 100%;
    margin: 60px auto;
     h1{
margin-bottom: 12px;
      font-size: 25px;
    }

    h2{
      margin-bottom: 8px;
      font-size: 20px;
    }

    h3{
      margin-bottom: 6px;
      font-size: 18px;
    }

    p{
      margin-bottom: 20px;
      font-size: 14px;
    }

  }
}