.hero {
  &__cover {
    background: url(../public/img/digital-connections-bg.png);
    // https://www.freepik.com/free-vector/white-background-with-low-poly-digital-lines-connection_8562954.htm
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
  }

  &__title {
    color: hsl(192, 17%, 99%) !important;
    font-size: 3.5rem;
    // font-family: 'Seaweed Script', cursive;
    // transform: rotate(-2.5deg);
    line-height: 110%;
    font-family: 'Source Code Pro', monospace;

    &__apply {
      @extend .hero__title;
      color: hsl(192, 17%, 99%) !important;
      font-size: 3rem;
      line-height: 140%;
      font-weight: bold;
    }
  }

  &__subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 3rem;
    line-height: 1.5;
  }
}



@media screen and (max-width: 980px) {
  .hero {
    &__cover {
      background: url(../public/img/digital-connections-bg-sp.png);
    }
    &__title {
      font-size: 2.5rem;
      &--apply {
        font-size: 2rem;
        line-height: 140%;
      }
    }
  }
}