.hero {
  &__cover {
    background-image: url('../../public/cover.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30vh 1.5rem;
    text-align: center;

    &--apply {
      background-image: url('https://static.camp-fire.jp/uploads/editor_uploaded_image/image/688599/ORG_DSC01376-min.jpg');
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: darken;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 26vh 1.5rem 18vh 1.5rem;
      text-align: center;
    }
  }

  &__title {
    color: hsl(192, 17%, 99%) !important;
    font-size: 3.5rem;
    font-family: 'Seaweed Script', cursive;
    transform: rotate(-2.5deg);
    line-height: 110%;

    &--apply {
      color: hsl(192, 17%, 99%) !important;
      font-size: 3rem;
      line-height: 140%;
      font-weight: bold;
    }
  }

  &__subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 3rem;
    line-height: 1.5;
  }
}



@media screen and (max-width: 980px) {
  .hero {
    &__title {
      &--apply {
        font-size: 2rem;
        line-height: 140%;
      }
    }
  }
}