@tailwind base;
@tailwind components;

// custom class

@tailwind utilities;

// --- add scss --- //

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Seaweed+Script&Ubuntu:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

@import './components/header.scss';
@import './components/hero.scss';

html{
  margin: 0;
  padding: 0;
}
body {
    margin: 0!important;

    // background: #EFF3F4;
    background-color: #FFF;
    font-family:
        // minmoji,'minmoji',
        // 'Noto Sans JP',
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

.footer--sticky {
  position: fixed;
  bottom: 0;
  background-color: #53B1F0;
  height: 60px;
  width: 100%;
  text-align: center;
  display: table;
  z-index: 1;

  &__text {
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
  }
}
